@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    body{
        padding-top: 30px;
    }
    .container{
        background: #ffebeb;
    }
    .box {
        width: 100%;
        background: #ddd;
        padding:10px 10px;
        border: 1px solid #aaaaaa;
    }

    .box > * {
        font-size: 16px;
        line-height: 1;       
    }


    /* -----------------------
        Tester Sell
    ------------------------*/

      
}