
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    width: 1170px;
    margin: 0 auto;
    margin-top: 20px;
}

.box{
    background: aqua;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 10px 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* ----------------------------------------
    Main Work Start 
 -------------------------- */

 .tp--row{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

 }

 .tp--row > * {
    flex: 100%;
 }

 .tp--col-1{
    flex: 8.111%;
 }